/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body p {
text-align: justify;
}

body :nth-child(2) 
{
    margin-top: 25px;
}

img.profile {
    width: 200px;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

footer {
    margin-top: 50px;
    min-height: 100px;
    width: auto;
    
}
